td {
    vertical-align: middle;
}

td img {
    height: 55px;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    padding: 0 5px;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.max-vh-100 {
    height: 100vh;
}

.max-vh-80 {
    height: 80vh;
}

#product-img {
    max-height: 100%;
}

.img-hero {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.btn-trasparent {
    background-color: transparent;
    border: none;
}

.alert {
    transition: top .1s ease-in;
}