td {
    vertical-align: middle;
}

td img {
    height: 55px;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    padding: 0 5px;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}